*~

*.psd
changeLibraryPathsWithQTDynamic.sh
BuildOCV
lib
OpenCV
CMakeLists.txt.user
.cproject
.project
CMakeCache.txt
CMakeFiles
CMakeLists.txt
TLDConfig.cmake.in
Makefile
TLDConfig.cmake
CMakeLists.txt.user
cmake_install.cmake
install_manifest.txt
.DS_Store
TLD.cbp
cmake_install.cmake
Makefile